force-app/main/default/flows/Roll_up_Tasks_On_Accounts_after_insert_after_update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_open_tasks_lists_size</name>
        <label>Assign open tasks lists size</label>
        <locationX>176</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>NumberOfCalls</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Open_Call_Tasks</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NumberOfEmails</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Open_Email_Tasks</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NumberOfMeetings</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Open_Meeting_Tasks</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NumberOfOthers</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Open_Other_Tasks</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_RecordType</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Get_Open_Call_Tasks</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get Open Call Tasks</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignNextValueToReference>currentItem_Get_Open_Email_Tasks</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Open_Tasks_on_Account</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_Open_Email_Tasks.Type</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Call</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Get_Open_Email_Tasks</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Get_Open_Email_Tasks</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get Open Email Tasks</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <assignNextValueToReference>currentItem_Get_Open_Email_Tasks</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Open_Tasks_on_Account</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_Open_Email_Tasks.Type</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Email</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Get_Open_Meeting_Tasks</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Get_Open_Meeting_Tasks</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get Open Meeting Tasks</label>
        <locationX>176</locationX>
        <locationY>695</locationY>
        <assignNextValueToReference>currentItem_Get_Open_Meeting_Tasks</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Open_Tasks_on_Account</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_Open_Meeting_Tasks.Type</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Meeting</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Get_Open_Other_Tasks</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Get_Open_Other_Tasks</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get Open Other Tasks</label>
        <locationX>176</locationX>
        <locationY>815</locationY>
        <assignNextValueToReference>currentItem_Get_Open_Other_Tasks</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Open_Tasks_on_Account</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_Open_Other_Tasks.Type</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Other</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assign_open_tasks_lists_size</targetReference>
        </connector>
    </collectionProcessors>
    <environments>Default</environments>
    <interviewLabel>Roll up Tasks On Accounts (after insert-after update) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Roll up Tasks On Accounts (after insert-after update)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Open_Tasks_on_Account</name>
        <label>Get Open Tasks on Account</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Open_Call_Tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RecordType</name>
        <label>Get RecordType</label>
        <locationX>176</locationX>
        <locationY>1055</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Account_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>United_States</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Record</name>
        <label>Update Account Record</label>
        <locationX>176</locationX>
        <locationY>1175</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Prospect</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_RecordType.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Open_Tasks_Call__c</field>
            <value>
                <elementReference>NumberOfCalls</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Open_Tasks_Email__c</field>
            <value>
                <elementReference>NumberOfEmails</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Open_Tasks_Meeting__c</field>
            <value>
                <elementReference>NumberOfMeetings</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Open_Tasks_Other__c</field>
            <value>
                <elementReference>NumberOfOthers</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Open_Tasks_on_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Get_Open_Email_Tasks</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>currentItem_Get_Open_Meeting_Tasks</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>currentItem_Get_Open_Other_Tasks</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>NumberOfCalls</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NumberOfEmails</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NumberOfMeetings</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NumberOfOthers</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
