force-app/main/default/flows/Roll_up_Tasks_On_Accounts_before_delete.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_open_tasks_lists_size</name>
        <label>Assign open tasks lists size</label>
        <locationX>446</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>NumberOfCalls</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Open_Call_Tasks</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NumberOfEmails</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Open_Email_Tasks</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NumberOfMeetings</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Open_Meeting_Tasks</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NumberOfOthers</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Open_Other_Tasks</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_type_is_the_Task_that_fired_the_Flow</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Subtract_1_from_the_calls_list_size</name>
        <label>Subtract 1 from the calls list size</label>
        <locationX>50</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>NumberOfCalls</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getCallsFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_RecordType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Subtract_1_from_the_emails_list_size</name>
        <label>Subtract 1 from the emails list size</label>
        <locationX>314</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>NumberOfEmails</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getEmailsFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_RecordType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Subtract_1_from_the_meetings_list_size</name>
        <label>Subtract 1 from the meetings list size</label>
        <locationX>578</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>NumberOfMeetings</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getMeetingsFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_RecordType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Subtract_1_from_the_others_list_size</name>
        <label>Subtract 1 from the others list size</label>
        <locationX>842</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>NumberOfOthers</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getOthersFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_RecordType</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Get_Open_Call_Tasks</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get Open Call Tasks</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <assignNextValueToReference>currentItem_Get_Open_Email_Tasks</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Open_Tasks_on_Account</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_Open_Email_Tasks.Type</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Call</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Get_Open_Email_Tasks</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Get_Open_Email_Tasks</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get Open Email Tasks</label>
        <locationX>446</locationX>
        <locationY>551</locationY>
        <assignNextValueToReference>currentItem_Get_Open_Email_Tasks</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Open_Tasks_on_Account</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_Open_Email_Tasks.Type</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Email</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Get_Open_Meeting_Tasks</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Get_Open_Meeting_Tasks</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get Open Meeting Tasks</label>
        <locationX>446</locationX>
        <locationY>671</locationY>
        <assignNextValueToReference>currentItem_Get_Open_Meeting_Tasks</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Open_Tasks_on_Account</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_Open_Meeting_Tasks.Type</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Meeting</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Get_Open_Other_Tasks</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Get_Open_Other_Tasks</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>Get Open Other Tasks</label>
        <locationX>446</locationX>
        <locationY>791</locationY>
        <assignNextValueToReference>currentItem_Get_Open_Other_Tasks</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Open_Tasks_on_Account</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Get_Open_Other_Tasks.Type</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Other</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Assign_open_tasks_lists_size</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>Which_type_is_the_Task_that_fired_the_Flow</name>
        <label>Which type is the Task that fired the Flow?</label>
        <locationX>446</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Subtract_1_from_the_others_list_size</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>Call</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Call</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subtract_1_from_the_calls_list_size</targetReference>
            </connector>
            <label>Call</label>
        </rules>
        <rules>
            <name>Email</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subtract_1_from_the_emails_list_size</targetReference>
            </connector>
            <label>Email</label>
        </rules>
        <rules>
            <name>Meeting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Meeting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Subtract_1_from_the_meetings_list_size</targetReference>
            </connector>
            <label>Meeting</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>getCallsFormula</name>
        <dataType>Number</dataType>
        <expression>MAX({!NumberOfCalls}-1, 0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>getEmailsFormula</name>
        <dataType>Number</dataType>
        <expression>MAX({!NumberOfEmails}-1,0)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>getMeetingsFormula</name>
        <dataType>Number</dataType>
        <expression>MAX({!NumberOfMeetings}-1,0)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>getOthersFormula</name>
        <dataType>Number</dataType>
        <expression>MAX({!NumberOfOthers}-1,0)</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Roll up Tasks On Accounts (before delete) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Roll up Tasks On Accounts (before delete)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Open_Tasks_on_Account</name>
        <label>Get Open Tasks on Account</label>
        <locationX>446</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Open_Call_Tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RecordType</name>
        <label>Get RecordType</label>
        <locationX>446</locationX>
        <locationY>1367</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Account_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>United_States</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_Record</name>
        <label>Update Account Record</label>
        <locationX>446</locationX>
        <locationY>1487</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.WhatId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Prospect</stringValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_RecordType.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Open_Tasks_Call__c</field>
            <value>
                <elementReference>NumberOfCalls</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Open_Tasks_Email__c</field>
            <value>
                <elementReference>NumberOfEmails</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Open_Tasks_Meeting__c</field>
            <value>
                <elementReference>NumberOfMeetings</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Open_Tasks_Other__c</field>
            <value>
                <elementReference>NumberOfOthers</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Open_Tasks_on_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Task</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>currentItem_Get_Open_Email_Tasks</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>currentItem_Get_Open_Meeting_Tasks</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>currentItem_Get_Open_Other_Tasks</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>NumberOfCalls</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NumberOfEmails</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NumberOfMeetings</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>NumberOfOthers</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
